.navbar-brand {
    color: blue;
}

#navbarTogglerDemo02 {
    float: right;
}

body nav a {
    color: blue;
}

footer {
    background-color: green;
}

footer p {
    float: right;
    font-size: 12px;
    
}

